# fly.toml app configuration file for backend-python
app = 'convergsai-python'
primary_region = 'ams'

[processes]
  app = "uvicorn app.main:app --host 0.0.0.0 --port 8000"
  worker = "python -m app.worker start"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "get"
  path = "/health"
  port = 8000
  protocol = "http"
  timeout = "2s"
  type = "http"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
